@import 'core/settings';
@import 'core/variables';

body {
	margin: 0px;
	padding: 0px;
}

.favorite {
	&__item{
		background-color: $colorDark;
	}
	&__txt{
	color: $colorLight;
	}
}

.series{
	&__list{
		list-style: none;
		padding-inline-start: 5px;
	}
	&__item{
		background-color: $colorLight;
	}
	&__image{
		width: 300px;
		height: 300px;
		background-size: cover;
	}
	&__show{
		color: $colorDark;
	}
}