@import 'core/settings';
@import 'core/variables';

body {
	margin: 0px;
	padding: 0px;
	font-family: 'PT Sans', sans-serif;
}
.page{
	&__wrapper{
		background-color: #F8EFBA;
	}
	&__header{
		display: flex;
		justify-content: center;
		align-items: center;
	}

}
//Para marcar favoritos
.favorite {
	&__item{
		text-align: center;
		background-color: $colorDest;
	}
	&__txt{
	color: $colorTextDest;
	}
}

.series{
	&__wrapper{
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	&__form {
		grid-column: 1/2;
		display: flex;
		flex-direction: row;
	}
	&__list{
		box-sizing: content-box;
		list-style: none;
		padding-inline-start: 5px;
		&__favorite{
			list-style: none;
			padding-inline-start: 10px;
		}
	}
	&__section{
		grid-column: 1/2;
	}
	&__item{
		background-color: $colorTextDest;
		text-align: center;
		&--favorite{
			text-align: center;
			background-color: $colorDest;
			padding-top: 20px;
			margin: 5px;
		}
	}
	&__image{
		width: 300px;
		height: 300px;
		background-size: cover;
		&--favorite{
			width: 150px;
			height: 150px;
			background-size: cover;
		}
	}
	&__show{
		color:$colorDest;
		text-align: center;
		&--favorite{
			margin-top: -3px;
			text-align: center;
			color: #2C3A47;
		}
	}
	&__input{
		background: transparent;
		border-style: none;
		border-bottom: 3px ridge #EAB543;
		padding: 5px;
		max-width: 80%;
		margin-left: 3px;
		&::placeholder{
			color: #2C3A47;
			text-align: center;
			font-size: 16px;
		} 
	}
	&__btn{
		width: 50px;
		height: 35px;
		background-color: transparent;
		padding: 10px;
		border-color: #EAB543;
		border-radius: 20px;
		transform: translate(10px, 10px);
	}
}