<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Buscador de series</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
<h1 class="page__title">Buscador de series</h1>
<form>
<label for="input">Busca aquí tu serie favorita (en inglés)
  <input type="text" name="input" class="js-input series__input">
</label>
<button type="submit" class="js-search serie__btn">Search</button>
<ul class="series__list js-list"></ul>
</form>
<section>
  <ul class="js-favorite-list"></ul>
</section>
  <script src="./assets/js/main.js"></script>
</body>
</html>
